<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnCreateOK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,85}</string>
                <key>spriteSourceSize</key>
                <string>{239,85}</string>
                <key>textureRect</key>
                <string>{{1,1665},{239,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCreateRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,437}</string>
                <key>spriteSourceSize</key>
                <string>{416,437}</string>
                <key>textureRect</key>
                <string>{{1,1},{416,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFriend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{1,879},{331,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFriend0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{334,879},{331,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFriend1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{1,1010},{331,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFriend2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{1,1141},{331,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFriend3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{334,1212},{331,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFriend4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{1,1272},{331,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFriend5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{1,1403},{331,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFriend6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,129}</string>
                <key>spriteSourceSize</key>
                <string>{331,129}</string>
                <key>textureRect</key>
                <string>{{1,1534},{331,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnJoinRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{388,437}</string>
                <key>spriteSourceSize</key>
                <string>{416,437}</string>
                <key>textureRect</key>
                <string>{{1,440},{388,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMode10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{391,440},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnMode11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{391,633},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnMode20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{334,1545},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnMode21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{394,1545},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toggle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{419,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{391,826},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friendLayer.png</string>
            <key>size</key>
            <string>{464,1751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2fd7fa63b46728ff1a996b3ffcda1af:9cd90db39bb510fbb6ff160e528e4ca3:09277bf88d5410e9071c121c7ab4d90f$</string>
            <key>textureFileName</key>
            <string>friendLayer.png</string>
        </dict>
    </dict>
</plist>
