<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gift1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{1530,1389},{89,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift1Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{258,1131},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{410,1131},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{666,771},{150,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift1Ani11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{825,766},{150,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift1Ani12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{725,923},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{877,918},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1029,866},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1181,866},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1333,866},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{562,1131},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{623,1290},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1029,1025},{150,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift1Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1188,1025},{150,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift1Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1347,1025},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{877,1077},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{725,1082},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift1Ani7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{92,99}</string>
                <key>spriteSourceSize</key>
                <string>{150,157}</string>
                <key>textureRect</key>
                <string>{{1441,713},{92,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,96}</string>
                <key>spriteSourceSize</key>
                <string>{78,96}</string>
                <key>textureRect</key>
                <string>{{1432,1404},{78,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift2Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{1,781},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{262,521},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{523,261},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{784,1},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{1,1036},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{1041,1},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{1298,1},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{523,516},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{784,256},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{1041,256},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{1298,256},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift2Ani6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,253}</string>
                <key>spriteSourceSize</key>
                <string>{255,253}</string>
                <key>textureRect</key>
                <string>{{780,511},{255,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{87,76}</string>
                <key>textureRect</key>
                <string>{{897,1367},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift3Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1432,1184},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift3Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1166,1177},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift3Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1029,1177},{135,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift3Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{897,1236},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{1626,1389},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,258}</string>
                <key>spriteSourceSize</key>
                <string>{259,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,258}</string>
                <key>spriteSourceSize</key>
                <string>{259,258}</string>
                <key>textureRect</key>
                <string>{{1,261},{259,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{775,1376},{115,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,258}</string>
                <key>spriteSourceSize</key>
                <string>{259,258}</string>
                <key>textureRect</key>
                <string>{{262,1},{259,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,258}</string>
                <key>spriteSourceSize</key>
                <string>{259,258}</string>
                <key>textureRect</key>
                <string>{{1,521},{259,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,258}</string>
                <key>spriteSourceSize</key>
                <string>{259,258}</string>
                <key>textureRect</key>
                <string>{{262,261},{259,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift4Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,258}</string>
                <key>spriteSourceSize</key>
                <string>{259,258}</string>
                <key>textureRect</key>
                <string>{{523,1},{259,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{1692,1145},{99,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift5Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1297,1184},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{775,1241},{133,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift5Ani10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1028,1314},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1535,766},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1485,888},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1499,1010},{133,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift5Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1620,888},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1621,1010},{133,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift5Ani7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1557,1145},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1557,1267},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift5Ani9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{1297,1306},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,57}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{1496,511},{118,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift6Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,57}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{1496,511},{118,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift6Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,61}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{1692,1246},{98,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift6Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,61}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{1166,1308},{78,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift6Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,85}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{1670,766},{72,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift6Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{1432,1309},{94,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift6Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,161}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{460,1290},{188,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift6Ani6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,159}</string>
                <key>spriteSourceSize</key>
                <string>{188,161}</string>
                <key>textureRect</key>
                <string>{{564,929},{188,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{1163,1371},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1555,1},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1555,154},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1,1291},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{154,1291},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1555,307},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1555,460},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1037,511},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1190,511},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1343,511},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1555,613},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1037,713},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{1239,713},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{262,776},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift7Ani6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{258,929},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{307,1290},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{411,929},{151,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift7Ani9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,200}</string>
                <key>spriteSourceSize</key>
                <string>{151,200}</string>
                <key>textureRect</key>
                <string>{{464,776},{151,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giftAni.png</string>
            <key>size</key>
            <string>{1756,1492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:382980a74d54d68f2b2094dcd71668e7:4c328995d1f3742e69bcc0c7cb2764a8:762d996157bd7183154a3586e956a22c$</string>
            <key>textureFileName</key>
            <string>giftAni.png</string>
        </dict>
    </dict>
</plist>
