<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alreadyGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,37}</string>
                <key>spriteSourceSize</key>
                <string>{124,37}</string>
                <key>textureRect</key>
                <string>{{830,485},{124,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnChangeSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{830,611},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,87}</string>
                <key>spriteSourceSize</key>
                <string>{105,87}</string>
                <key>textureRect</key>
                <string>{{531,777},{105,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGetGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,48}</string>
                <key>spriteSourceSize</key>
                <string>{107,48}</string>
                <key>textureRect</key>
                <string>{{481,777},{107,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSendGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,47}</string>
                <key>spriteSourceSize</key>
                <string>{141,47}</string>
                <key>textureRect</key>
                <string>{{830,1},{141,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSendList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,47}</string>
                <key>spriteSourceSize</key>
                <string>{141,47}</string>
                <key>textureRect</key>
                <string>{{830,144},{141,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{1,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{61,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helpImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,827}</string>
                <key>spriteSourceSize</key>
                <string>{774,827}</string>
                <key>textureRect</key>
                <string>{{1,1},{774,827}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{481,886},{76,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{568,884},{76,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nickBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,43}</string>
                <key>spriteSourceSize</key>
                <string>{196,43}</string>
                <key>textureRect</key>
                <string>{{830,287},{196,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noreadImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{121,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noreadImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{181,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>readImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{241,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>readImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{301,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sendImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{361,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sendImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{191,58}</string>
                <key>textureRect</key>
                <string>{{421,777},{191,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sysSendImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{620,777},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sysSendImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{655,851},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userSendImg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{694,777},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userSendImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{768,777},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mailAndUserInfo.png</string>
            <key>size</key>
            <string>{878,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf67bfbb0266d9dade9c7f541e6db61:56398eff350f6939f612e1af067a74f7:a713a8db0a0a371091f5ebc7aebdc79b$</string>
            <key>textureFileName</key>
            <string>mailAndUserInfo.png</string>
        </dict>
    </dict>
</plist>
