<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aniBegin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,223}</string>
                <key>spriteSourceSize</key>
                <string>{212,223}</string>
                <key>textureRect</key>
                <string>{{1631,1284},{212,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniBegin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,167}</string>
                <key>spriteSourceSize</key>
                <string>{212,223}</string>
                <key>textureRect</key>
                <string>{{2,1122},{148,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aniBegin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,177}</string>
                <key>spriteSourceSize</key>
                <string>{212,223}</string>
                <key>textureRect</key>
                <string>{{1481,1118},{148,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aniBegin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,177}</string>
                <key>spriteSourceSize</key>
                <string>{212,223}</string>
                <key>textureRect</key>
                <string>{{1856,1489},{144,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{1965,2},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,103}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{2,953},{144,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{128,845},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aniNiu11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{1523,898},{120,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aniNiu12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{238,700},{118,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,83}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{1961,418},{116,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,107}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{1937,809},{144,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,105}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{141,1297},{110,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,111}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{107,953},{122,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,113}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{2,1498},{130,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{1523,781},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aniNiu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,113}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{123,700},{122,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,119}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{2,700},{124,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aniNiu9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,105}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{2,845},{124,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBegin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,195}</string>
                <key>spriteSourceSize</key>
                <string>{637,195}</string>
                <key>textureRect</key>
                <string>{{706,502},{637,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBegin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{753,196}</string>
                <key>spriteSourceSize</key>
                <string>{753,196}</string>
                <key>textureRect</key>
                <string>{{2,2},{753,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBegin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,103}</string>
                <key>spriteSourceSize</key>
                <string>{500,103}</string>
                <key>textureRect</key>
                <string>{{1463,2},{500,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBegin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{109,101}</string>
                <key>textureRect</key>
                <string>{{1937,706},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,127}</string>
                <key>spriteSourceSize</key>
                <string>{146,127}</string>
                <key>textureRect</key>
                <string>{{117,1498},{146,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{136,174}</string>
                <key>textureRect</key>
                <string>{{2,1858},{136,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,174}</string>
                <key>textureRect</key>
                <string>{{1872,1142},{140,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loseLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,248}</string>
                <key>spriteSourceSize</key>
                <string>{704,248}</string>
                <key>textureRect</key>
                <string>{{757,2},{704,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loseRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,248}</string>
                <key>spriteSourceSize</key>
                <string>{702,248}</string>
                <key>textureRect</key>
                <string>{{708,252},{702,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loseScoreBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,79}</string>
                <key>spriteSourceSize</key>
                <string>{164,79}</string>
                <key>textureRect</key>
                <string>{{1965,86},{164,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>win0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,119}</string>
                <key>spriteSourceSize</key>
                <string>{156,119}</string>
                <key>textureRect</key>
                <string>{{1481,997},{156,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,168}</string>
                <key>spriteSourceSize</key>
                <string>{137,168}</string>
                <key>textureRect</key>
                <string>{{2,1297},{137,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,169}</string>
                <key>spriteSourceSize</key>
                <string>{136,169}</string>
                <key>textureRect</key>
                <string>{{140,1858},{136,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,116}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{989,835},{251,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,124}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{1262,781},{259,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,134}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{989,699},{271,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,144}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{706,699},{281,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,152}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{1646,706},{289,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,162}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{1345,617},{299,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,168}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{1463,107},{305,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,168}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{1412,277},{305,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,168}</string>
                <key>spriteSourceSize</key>
                <string>{305,168}</string>
                <key>textureRect</key>
                <string>{{1412,447},{305,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,185}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1884,955},{159,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,193}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1770,107},{167,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winHead12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,203}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1856,1284},{179,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1770,276},{189,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{2,1635},{197,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winHead15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,231}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1639,1075},{207,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winHead16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,237}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1719,491},{213,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winHead17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,237}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1645,860},{213,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winHead18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,237}</string>
                <key>spriteSourceSize</key>
                <string>{213,237}</string>
                <key>textureRect</key>
                <string>{{1242,907},{213,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,248}</string>
                <key>spriteSourceSize</key>
                <string>{704,248}</string>
                <key>textureRect</key>
                <string>{{2,200},{704,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,248}</string>
                <key>spriteSourceSize</key>
                <string>{702,248}</string>
                <key>textureRect</key>
                <string>{{2,450},{702,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winScoreBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,79}</string>
                <key>spriteSourceSize</key>
                <string>{164,79}</string>
                <key>textureRect</key>
                <string>{{1965,252},{164,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goldGameAni.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89b9940c82e4d3f11b0b0f5fe82ae7d1:be0a9764a9cb5a0226117bd92df789aa:09d5059847e35fb67bf2704ff169ffc0$</string>
            <key>textureFileName</key>
            <string>goldGameAni.png</string>
        </dict>
    </dict>
</plist>
