<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankerIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{300,602},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bankerLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{645,689},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betBtnBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{717,709},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betBtnBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{2,657},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betBtnBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{74,657},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betBtnBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{146,665},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betBtnBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{218,665},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnChangeDesk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,69}</string>
                <key>spriteSourceSize</key>
                <string>{167,69}</string>
                <key>textureRect</key>
                <string>{{849,507},{167,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDIsBanker0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{784,580},{127,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnDisBanker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{847,649},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,69}</string>
                <key>spriteSourceSize</key>
                <string>{167,69}</string>
                <key>textureRect</key>
                <string>{{849,578},{167,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnInvit0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,66}</string>
                <key>spriteSourceSize</key>
                <string>{179,66}</string>
                <key>textureRect</key>
                <string>{{2,382},{179,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnInvit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,66}</string>
                <key>spriteSourceSize</key>
                <string>{179,66}</string>
                <key>textureRect</key>
                <string>{{2,450},{179,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{569,539},{127,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,64}</string>
                <key>spriteSourceSize</key>
                <string>{131,64}</string>
                <key>textureRect</key>
                <string>{{388,216},{131,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOpenCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{698,539},{70,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReady0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,62}</string>
                <key>spriteSourceSize</key>
                <string>{175,62}</string>
                <key>textureRect</key>
                <string>{{785,403},{175,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnReady1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,62}</string>
                <key>spriteSourceSize</key>
                <string>{175,62}</string>
                <key>textureRect</key>
                <string>{{183,538},{175,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRobBanker0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{360,582},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRobBanker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{568,605},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRobBankerBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{171,602},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRobBankerBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{360,645},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{512,96},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSendMsg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{697,611},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,69}</string>
                <key>spriteSourceSize</key>
                <string>{167,69}</string>
                <key>textureRect</key>
                <string>{{2,586},{167,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShowCard0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,66}</string>
                <key>spriteSourceSize</key>
                <string>{179,66}</string>
                <key>textureRect</key>
                <string>{{2,518},{179,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShowCard1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,66}</string>
                <key>spriteSourceSize</key>
                <string>{179,66}</string>
                <key>textureRect</key>
                <string>{{604,403},{179,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShowFunc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{489,655},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTalk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{567,668},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnVS0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,66}</string>
                <key>spriteSourceSize</key>
                <string>{179,66}</string>
                <key>textureRect</key>
                <string>{{575,471},{179,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnVS1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,66}</string>
                <key>spriteSourceSize</key>
                <string>{179,66}</string>
                <key>textureRect</key>
                <string>{{388,514},{179,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardOpenBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,59}</string>
                <key>spriteSourceSize</key>
                <string>{364,59}</string>
                <key>textureRect</key>
                <string>{{618,2},{364,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,114}</string>
                <key>spriteSourceSize</key>
                <string>{80,114}</string>
                <key>textureRect</key>
                <string>{{873,63},{80,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{454,216},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{61,27}</string>
                <key>textureRect</key>
                <string>{{955,63},{61,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>completeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,37}</string>
                <key>spriteSourceSize</key>
                <string>{177,37}</string>
                <key>textureRect</key>
                <string>{{984,2},{177,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>disbankerIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,27}</string>
                <key>spriteSourceSize</key>
                <string>{60,27}</string>
                <key>textureRect</key>
                <string>{{575,353},{60,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBankerBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,108}</string>
                <key>textureRect</key>
                <string>{{604,183},{243,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBankerBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,173}</string>
                <key>spriteSourceSize</key>
                <string>{147,173}</string>
                <key>textureRect</key>
                <string>{{849,358},{147,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,108}</string>
                <key>textureRect</key>
                <string>{{604,293},{243,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,175}</string>
                <key>spriteSourceSize</key>
                <string>{149,175}</string>
                <key>textureRect</key>
                <string>{{873,181},{149,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headNoRobBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,118}</string>
                <key>spriteSourceSize</key>
                <string>{253,118}</string>
                <key>textureRect</key>
                <string>{{618,63},{253,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headNoRobBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,185}</string>
                <key>spriteSourceSize</key>
                <string>{159,185}</string>
                <key>textureRect</key>
                <string>{{201,216},{159,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headPKBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,118}</string>
                <key>spriteSourceSize</key>
                <string>{253,118}</string>
                <key>textureRect</key>
                <string>{{2,96},{253,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headPKBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,185}</string>
                <key>spriteSourceSize</key>
                <string>{159,185}</string>
                <key>textureRect</key>
                <string>{{388,353},{159,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headRobingBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,118}</string>
                <key>spriteSourceSize</key>
                <string>{253,118}</string>
                <key>textureRect</key>
                <string>{{257,96},{253,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headRobingBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,185}</string>
                <key>spriteSourceSize</key>
                <string>{159,185}</string>
                <key>textureRect</key>
                <string>{{201,377},{159,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>multipleIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,27}</string>
                <key>spriteSourceSize</key>
                <string>{47,27}</string>
                <key>textureRect</key>
                <string>{{955,126},{47,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newFuncBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,164}</string>
                <key>spriteSourceSize</key>
                <string>{197,164}</string>
                <key>textureRect</key>
                <string>{{2,216},{197,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robBankerIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{454,305},{29,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robBankerWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{454,270},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomInfoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,90}</string>
                <key>spriteSourceSize</key>
                <string>{203,90}</string>
                <key>textureRect</key>
                <string>{{512,148},{203,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{849,183},{21,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stateBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,92}</string>
                <key>spriteSourceSize</key>
                <string>{614,92}</string>
                <key>textureRect</key>
                <string>{{2,2},{614,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{489,582},{77,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goldGameScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a62a8a4b83a7074f801baeaaa44e1c8d:af348389cdc483f17aab1b572419b12e:bf5c17027e79f4dcec250753d743dc49$</string>
            <key>textureFileName</key>
            <string>goldGameScene.png</string>
        </dict>
    </dict>
</plist>
