<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnQuick0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,111}</string>
                <key>spriteSourceSize</key>
                <string>{332,111}</string>
                <key>textureRect</key>
                <string>{{2,916},{332,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnQuick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,111}</string>
                <key>spriteSourceSize</key>
                <string>{332,111}</string>
                <key>textureRect</key>
                <string>{{2,1029},{332,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnReturn0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,84}</string>
                <key>spriteSourceSize</key>
                <string>{89,84}</string>
                <key>textureRect</key>
                <string>{{830,1326},{89,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnReturn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,84}</string>
                <key>spriteSourceSize</key>
                <string>{89,84}</string>
                <key>textureRect</key>
                <string>{{921,1326},{89,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnWXLink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,74}</string>
                <key>spriteSourceSize</key>
                <string>{228,74}</string>
                <key>textureRect</key>
                <string>{{939,518},{228,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chooseBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,333}</string>
                <key>spriteSourceSize</key>
                <string>{539,333}</string>
                <key>textureRect</key>
                <string>{{604,518},{539,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,330}</string>
                <key>spriteSourceSize</key>
                <string>{241,330}</string>
                <key>textureRect</key>
                <string>{{579,1059},{241,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,331}</string>
                <key>spriteSourceSize</key>
                <string>{241,331}</string>
                <key>textureRect</key>
                <string>{{336,806},{241,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,332}</string>
                <key>spriteSourceSize</key>
                <string>{241,332}</string>
                <key>textureRect</key>
                <string>{{2,673},{241,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,119}</string>
                <key>spriteSourceSize</key>
                <string>{134,119}</string>
                <key>textureRect</key>
                <string>{{336,673},{134,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBgSmall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,46}</string>
                <key>spriteSourceSize</key>
                <string>{163,46}</string>
                <key>textureRect</key>
                <string>{{556,272},{163,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelBgSmall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,46}</string>
                <key>spriteSourceSize</key>
                <string>{163,46}</string>
                <key>textureRect</key>
                <string>{{556,437},{163,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>limitLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{1003,2},{26,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>limitNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,21}</string>
                <key>spriteSourceSize</key>
                <string>{170,21}</string>
                <key>textureRect</key>
                <string>{{977,926},{170,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>limitTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{556,244},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{230,1142},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{230,1234},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{230,1326},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{116,1362},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{551,1302},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{323,1359},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{209,1418},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{116,1454},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1472},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{416,1359},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{644,1302},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{737,1302},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matchAni0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{911,1098},{112,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matchAni1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{911,1212},{112,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matchAni10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{336,1139},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{450,1139},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{2,1142},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{116,1142},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{2,1252},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{116,1252},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{323,1249},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{437,1249},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAni9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{2,1362},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchAniBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,240}</string>
                <key>spriteSourceSize</key>
                <string>{614,240}</string>
                <key>textureRect</key>
                <string>{{2,2},{614,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchCancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,70}</string>
                <key>spriteSourceSize</key>
                <string>{176,70}</string>
                <key>textureRect</key>
                <string>{{939,748},{176,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>modeMingCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-22}</string>
                <key>spriteSize</key>
                <string>{514,383}</string>
                <key>spriteSourceSize</key>
                <string>{552,427}</string>
                <key>textureRect</key>
                <string>{{618,2},{514,383}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>modeNiuniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,427}</string>
                <key>spriteSourceSize</key>
                <string>{552,427}</string>
                <key>textureRect</key>
                <string>{{2,244},{552,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{939,926},{35,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wxLinkIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,38}</string>
                <key>spriteSourceSize</key>
                <string>{202,38}</string>
                <key>textureRect</key>
                <string>{{556,602},{202,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>matchLayer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788440fb9da9ba3a1bc3dc2b7bb3ef0e:b363b52797cbf94ef3816ebf04b14250:677a999ba95b0ea9cceaa348d03c1078$</string>
            <key>textureFileName</key>
            <string>matchLayer.png</string>
        </dict>
    </dict>
</plist>
