<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnB0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{550,110},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{554,439},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnB2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{655,110},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnB3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{659,439},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnB4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{760,110},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnB5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{668,768},{327,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnB6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{764,439},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBOri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,103}</string>
                <key>spriteSourceSize</key>
                <string>{327,103}</string>
                <key>textureRect</key>
                <string>{{865,110},{327,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnP0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{335,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnP1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{339,2},{335,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnP2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{676,2},{335,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnP3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{2,110},{335,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnP4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{2,447},{335,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{110,110},{335,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnP6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{110,447},{335,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPOri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,106}</string>
                <key>spriteSourceSize</key>
                <string>{335,106}</string>
                <key>textureRect</key>
                <string>{{218,110},{335,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnY0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{2,784},{331,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnY1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{2,896},{331,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnY2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{218,447},{331,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnY3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{326,110},{331,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnY4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{330,443},{331,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnY5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{438,110},{331,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnY6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{335,776},{331,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnYOri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,110}</string>
                <key>spriteSourceSize</key>
                <string>{331,110}</string>
                <key>textureRect</key>
                <string>{{442,443},{331,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>matchLayerAni.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a3721c9deba2c7a99367049a71ed0e:7ff6dfa3323d312ab9f08f78b01d7385:cc872c03bc2c4bc0def93176139d72e2$</string>
            <key>textureFileName</key>
            <string>matchLayerAni.png</string>
        </dict>
    </dict>
</plist>
