<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allGive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,33}</string>
                <key>spriteSourceSize</key>
                <string>{138,33}</string>
                <key>textureRect</key>
                <string>{{200,1162},{138,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>billboardIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,54}</string>
                <key>spriteSourceSize</key>
                <string>{173,54}</string>
                <key>textureRect</key>
                <string>{{2,374},{173,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,57}</string>
                <key>spriteSourceSize</key>
                <string>{74,57}</string>
                <key>textureRect</key>
                <string>{{95,906},{74,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBillboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{95,1518},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnFace0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,179}</string>
                <key>spriteSourceSize</key>
                <string>{65,179}</string>
                <key>textureRect</key>
                <string>{{2,106},{65,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFace1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,179}</string>
                <key>spriteSourceSize</key>
                <string>{65,179}</string>
                <key>textureRect</key>
                <string>{{2,173},{65,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGold0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,50}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{222,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnGold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,30}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{223,224},{174,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{2,496},{127,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,64}</string>
                <key>spriteSourceSize</key>
                <string>{131,64}</string>
                <key>textureRect</key>
                <string>{{2,430},{131,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnQuick0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,179}</string>
                <key>spriteSourceSize</key>
                <string>{65,179}</string>
                <key>textureRect</key>
                <string>{{2,240},{65,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnQuick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,179}</string>
                <key>spriteSourceSize</key>
                <string>{65,179}</string>
                <key>textureRect</key>
                <string>{{2,307},{65,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{94,50}</string>
                <key>textureRect</key>
                <string>{{200,813},{94,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnWin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,50}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{2,54},{222,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnWin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,30}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{223,400},{174,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charmIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{200,763},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charmNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,28}</string>
                <key>spriteSourceSize</key>
                <string>{220,28}</string>
                <key>textureRect</key>
                <string>{{226,2},{220,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,27}</string>
                <key>spriteSourceSize</key>
                <string>{106,27}</string>
                <key>textureRect</key>
                <string>{{200,1302},{106,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{2,562},{89,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{182,667},{65,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{2,653},{83,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{182,576},{89,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{98,562},{75,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{98,642},{87,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{95,817},{87,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{2,738},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,45}</string>
                <key>spriteSourceSize</key>
                <string>{63,45}</string>
                <key>textureRect</key>
                <string>{{200,959},{63,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{59,45}</string>
                <key>textureRect</key>
                <string>{{200,1024},{59,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{200,1085},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,3}</string>
                <key>spriteSourceSize</key>
                <string>{618,3}</string>
                <key>textureRect</key>
                <string>{{177,374},{618,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,831},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,923},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1015},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1107},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1199},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1291},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1383},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1475},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1567},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1659},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1751},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{2,1843},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1277,16}</string>
                <key>spriteSourceSize</key>
                <string>{1277,16}</string>
                <key>textureRect</key>
                <string>{{182,763},{1277,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,24}</string>
                <key>spriteSourceSize</key>
                <string>{398,38}</string>
                <key>textureRect</key>
                <string>{{229,1302},{384,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadingBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,38}</string>
                <key>spriteSourceSize</key>
                <string>{398,38}</string>
                <key>textureRect</key>
                <string>{{183,106},{398,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicSettingBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{96,731},{84,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>okIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{200,909},{48,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>selectPoint0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{200,1124},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectPoint1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{182,506},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userInfoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,84}</string>
                <key>spriteSourceSize</key>
                <string>{522,84}</string>
                <key>textureRect</key>
                <string>{{95,994},{522,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giftAndBill.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c509f2e0e63830f295e2ce442b63913:28f3c6e80390a72e677d6d0e95b43391:9089d6a79c660a026c9b87599e23ab30$</string>
            <key>textureFileName</key>
            <string>giftAndBill.png</string>
        </dict>
    </dict>
</plist>
