<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnActivity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{303,930},{89,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnAdd0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{516,644},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnAdd1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{516,700},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,105}</string>
                <key>spriteSourceSize</key>
                <string>{286,105}</string>
                <key>textureRect</key>
                <string>{{598,306},{286,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBillboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,103}</string>
                <key>textureRect</key>
                <string>{{516,526},{116,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnCard0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,108}</string>
                <key>spriteSourceSize</key>
                <string>{333,108}</string>
                <key>textureRect</key>
                <string>{{598,2},{333,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnCard1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,108}</string>
                <key>spriteSourceSize</key>
                <string>{333,108}</string>
                <key>textureRect</key>
                <string>{{343,112},{333,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFreeGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{134,133}</string>
                <key>textureRect</key>
                <string>{{395,787},{134,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGold0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,114}</string>
                <key>spriteSourceSize</key>
                <string>{337,114}</string>
                <key>textureRect</key>
                <string>{{222,448},{337,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnGold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,114}</string>
                <key>spriteSourceSize</key>
                <string>{337,114}</string>
                <key>textureRect</key>
                <string>{{338,448},{337,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{343,2},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHelp0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,50}</string>
                <key>spriteSourceSize</key>
                <string>{141,50}</string>
                <key>textureRect</key>
                <string>{{291,787},{141,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnHelp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,50}</string>
                <key>spriteSourceSize</key>
                <string>{141,50}</string>
                <key>textureRect</key>
                <string>{{343,787},{141,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnHistory0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,61}</string>
                <key>spriteSourceSize</key>
                <string>{126,61}</string>
                <key>textureRect</key>
                <string>{{175,960},{126,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHistory1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,61}</string>
                <key>spriteSourceSize</key>
                <string>{126,61}</string>
                <key>textureRect</key>
                <string>{{933,67},{126,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnInfo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,49}</string>
                <key>spriteSourceSize</key>
                <string>{133,49}</string>
                <key>textureRect</key>
                <string>{{888,195},{133,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnInfo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,44}</string>
                <key>spriteSourceSize</key>
                <string>{131,44}</string>
                <key>textureRect</key>
                <string>{{888,246},{131,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnInvite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,56}</string>
                <key>spriteSourceSize</key>
                <string>{161,56}</string>
                <key>textureRect</key>
                <string>{{175,797},{161,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnInvite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,56}</string>
                <key>spriteSourceSize</key>
                <string>{161,56}</string>
                <key>textureRect</key>
                <string>{{233,787},{161,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnMatch0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,108}</string>
                <key>spriteSourceSize</key>
                <string>{347,108}</string>
                <key>textureRect</key>
                <string>{{2,448},{347,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnMatch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,108}</string>
                <key>spriteSourceSize</key>
                <string>{347,108}</string>
                <key>textureRect</key>
                <string>{{112,448},{347,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRoomInfo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,59}</string>
                <key>spriteSourceSize</key>
                <string>{198,59}</string>
                <key>textureRect</key>
                <string>{{53,797},{198,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRoomInfo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,59}</string>
                <key>spriteSourceSize</key>
                <string>{198,59}</string>
                <key>textureRect</key>
                <string>{{114,797},{198,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{933,2},{74,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{453,2},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSetting0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{454,526},{128,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSetting1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{454,656},{128,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{104,107}</string>
                <key>textureRect</key>
                <string>{{562,413},{104,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShare0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{402,923},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{500,923},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShop0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{888,292},{115,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnShop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{886,409},{115,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamondIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,48}</string>
                <key>spriteSourceSize</key>
                <string>{61,48}</string>
                <key>textureRect</key>
                <string>{{454,447},{61,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,49}</string>
                <key>spriteSourceSize</key>
                <string>{200,49}</string>
                <key>textureRect</key>
                <string>{{2,797},{200,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{56,59}</string>
                <key>textureRect</key>
                <string>{{504,447},{56,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,100}</string>
                <key>spriteSourceSize</key>
                <string>{333,100}</string>
                <key>textureRect</key>
                <string>{{453,112},{333,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loginBtnVisit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,95}</string>
                <key>spriteSourceSize</key>
                <string>{288,95}</string>
                <key>textureRect</key>
                <string>{{598,112},{288,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginBtnWX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,95}</string>
                <key>spriteSourceSize</key>
                <string>{288,95}</string>
                <key>textureRect</key>
                <string>{{598,209},{288,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noticeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,444}</string>
                <key>spriteSourceSize</key>
                <string>{339,444}</string>
                <key>textureRect</key>
                <string>{{2,2},{339,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noticeTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,30}</string>
                <key>spriteSourceSize</key>
                <string>{242,30}</string>
                <key>textureRect</key>
                <string>{{564,2},{242,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edcbbaab88af33f3b941c35c1809fb79:cf04dfe94aae287a9c913efc050847f0:ee767e3aa46a7694dfca09e6f6f02a99$</string>
            <key>textureFileName</key>
            <string>hallScene.png</string>
        </dict>
    </dict>
</plist>
