<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,588}</string>
                <key>spriteSourceSize</key>
                <string>{467,588}</string>
                <key>textureRect</key>
                <string>{{1,516},{467,588}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activityBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,201}</string>
                <key>spriteSourceSize</key>
                <string>{233,201}</string>
                <key>textureRect</key>
                <string>{{696,599},{233,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activityBtn0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,81}</string>
                <key>spriteSourceSize</key>
                <string>{232,81}</string>
                <key>textureRect</key>
                <string>{{696,802},{232,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activityBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,81}</string>
                <key>spriteSourceSize</key>
                <string>{261,81}</string>
                <key>textureRect</key>
                <string>{{696,516},{261,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activityBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,79}</string>
                <key>spriteSourceSize</key>
                <string>{231,79}</string>
                <key>textureRect</key>
                <string>{{696,885},{231,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activityGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,74}</string>
                <key>spriteSourceSize</key>
                <string>{228,74}</string>
                <key>textureRect</key>
                <string>{{825,1},{228,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activityGo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,74}</string>
                <key>spriteSourceSize</key>
                <string>{228,74}</string>
                <key>textureRect</key>
                <string>{{901,1},{228,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activityIco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{825,461},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activityImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{822,513}</string>
                <key>spriteSourceSize</key>
                <string>{822,513}</string>
                <key>textureRect</key>
                <string>{{1,1},{822,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activityPay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,74}</string>
                <key>spriteSourceSize</key>
                <string>{228,74}</string>
                <key>textureRect</key>
                <string>{{825,231},{228,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activityTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,51}</string>
                <key>spriteSourceSize</key>
                <string>{196,51}</string>
                <key>textureRect</key>
                <string>{{901,291},{196,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activityTitleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,103}</string>
                <key>spriteSourceSize</key>
                <string>{428,103}</string>
                <key>textureRect</key>
                <string>{{591,516},{428,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnFirstPay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{901,231},{58,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firstPayImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,47}</string>
                <key>spriteSourceSize</key>
                <string>{182,47}</string>
                <key>textureRect</key>
                <string>{{931,599},{182,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newActivity.png</string>
            <key>size</key>
            <string>{979,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89d038d745fa654ee827067cc712e6d6:401954ca85cb38338e18aa2cc28fa821:571da5a26479fd571842dcc8eaa6743d$</string>
            <key>textureFileName</key>
            <string>newActivity.png</string>
        </dict>
    </dict>
</plist>
