<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,59}</string>
                <key>spriteSourceSize</key>
                <string>{104,97}</string>
                <key>textureRect</key>
                <string>{{1128,1918},{104,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{102,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,97}</string>
                <key>textureRect</key>
                <string>{{1169,1266},{102,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,97}</string>
                <key>spriteSourceSize</key>
                <string>{104,97}</string>
                <key>textureRect</key>
                <string>{{759,1860},{50,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{96,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,97}</string>
                <key>textureRect</key>
                <string>{{1030,1918},{96,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rotaryBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,636}</string>
                <key>spriteSourceSize</key>
                <string>{635,636}</string>
                <key>textureRect</key>
                <string>{{2,2},{635,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rotaryBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,542}</string>
                <key>spriteSourceSize</key>
                <string>{539,542}</string>
                <key>textureRect</key>
                <string>{{628,1266},{539,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rotaryLight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,621}</string>
                <key>spriteSourceSize</key>
                <string>{634,621}</string>
                <key>textureRect</key>
                <string>{{640,2},{634,621}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rotaryLight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,621}</string>
                <key>spriteSourceSize</key>
                <string>{634,621}</string>
                <key>textureRect</key>
                <string>{{2,1262},{624,621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rotaryLight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,621}</string>
                <key>spriteSourceSize</key>
                <string>{634,621}</string>
                <key>textureRect</key>
                <string>{{640,638},{626,621}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rotaryLight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,621}</string>
                <key>spriteSourceSize</key>
                <string>{634,621}</string>
                <key>textureRect</key>
                <string>{{2,639},{626,621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rotaryStart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,215}</string>
                <key>spriteSourceSize</key>
                <string>{177,215}</string>
                <key>textureRect</key>
                <string>{{813,1810},{177,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signinBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,118}</string>
                <key>spriteSourceSize</key>
                <string>{117,118}</string>
                <key>textureRect</key>
                <string>{{640,1860},{117,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1169,1540},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinItem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1169,1612},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinItem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{1169,1456},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signinItem3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{1169,1370},{84,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signinItem4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,99}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{432,1885},{104,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signinItem5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,97}</string>
                <key>spriteSourceSize</key>
                <string>{105,97}</string>
                <key>textureRect</key>
                <string>{{533,1885},{105,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinItemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1030,1810},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1138,1810},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,48}</string>
                <key>spriteSourceSize</key>
                <string>{183,48}</string>
                <key>textureRect</key>
                <string>{{628,1810},{183,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signinTitleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,103}</string>
                <key>spriteSourceSize</key>
                <string>{428,103}</string>
                <key>textureRect</key>
                <string>{{2,1885},{428,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rotaryAndActivity.png</string>
            <key>size</key>
            <string>{1263,1991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7833070ac7211bde314a0d8326535de3:885b0ac846dfe51b1450cb67b784a0a4:b4acf26549a7b94a604d00aff0b10952$</string>
            <key>textureFileName</key>
            <string>rotaryAndActivity.png</string>
        </dict>
    </dict>
</plist>
