<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,54}</string>
                <key>spriteSourceSize</key>
                <string>{166,54}</string>
                <key>textureRect</key>
                <string>{{967,343},{166,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{777,226}</string>
                <key>spriteSourceSize</key>
                <string>{777,226}</string>
                <key>textureRect</key>
                <string>{{1,209},{777,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardGoldImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,197}</string>
                <key>spriteSourceSize</key>
                <string>{340,197}</string>
                <key>textureRect</key>
                <string>{{826,1},{340,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardLight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{141,140}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{334,1355},{141,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{151,152}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{696,1192},{151,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,172}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{608,638},{195,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardLight11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{199,170}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{608,437},{199,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardLight12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{187,140}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{1,1355},{187,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{375,1164},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,168}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{782,721},{165,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardLight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{173,176}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{589,1017},{173,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardLight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{177,180}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{589,835},{177,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,184}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{192,1169},{181,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,184}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{780,343},{185,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{1,1169},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardLight9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{193,176}</string>
                <key>spriteSourceSize</key>
                <string>{305,184}</string>
                <key>textureRect</key>
                <string>{{411,956},{193,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardTitle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{1,437},{395,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardTitle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{1,542},{395,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardTitle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{1,647},{395,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardTitle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{1,752},{395,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardTitle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{398,437},{395,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardTitle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{1,857},{395,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardTitle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,103}</string>
                <key>spriteSourceSize</key>
                <string>{395,103}</string>
                <key>textureRect</key>
                <string>{{503,437},{395,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,205}</string>
                <key>spriteSourceSize</key>
                <string>{244,205}</string>
                <key>textureRect</key>
                <string>{{1,962},{244,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopDiamond0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{148,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{398,834},{148,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopDiamond1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{637,1346},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopDiamond2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{162,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{768,888},{162,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopDiamond3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{247,962},{200,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopDiamond4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{767,1022},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopDiamond5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{782,529},{190,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopGold0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{931,1022},{102,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopGold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{190,1355},{140,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopGold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{791,1346},{148,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopGold3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{849,1184},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopGold4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{148,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{536,1192},{148,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopGold5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{148,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{477,1342},{148,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,206}</string>
                <key>spriteSourceSize</key>
                <string>{823,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{823,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopAndReward.png</string>
            <key>size</key>
            <string>{1024,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b9913402ccb86cb6c8677b8c6b8a49:93389cd13a2d9644d16a5253029d0293:75702799776ac5d008ab67d0476d2179$</string>
            <key>textureFileName</key>
            <string>shopAndReward.png</string>
        </dict>
    </dict>
</plist>
